<script>
import Vue from 'vue';

import {FarmersBaseForm} from "@/entry";
import {BuyerBaseForm} from "@/entry";
import {ServiceProviderBaseForm} from "@/entry";

export default Vue.extend({
  name: 'ServeDev',
  components: {
    FarmersBaseForm,
    BuyerBaseForm,
    ServiceProviderBaseForm
  }
});
</script>

<template>
  <div id="app">
    <service-provider-base-form server-url="http://localhost:8000" client-key="glsndxykba5luxv3"/>
  </div>
</template>
