<template>
  <div>
    <div class="form-wrapper" v-show="showResponse">
        <p>Profile was created, your farmer ID: </p>
        <h2>{{responseFarmerId}}</h2>
    </div>
    <FormulateForm
    v-show="showForm"
    class="form-wrapper"
    v-model="formData"
    :form-errors ="formErrors"
    @submit="handleSubmit"
  >
    <h3 class="form-title">Farmer's enrolment form</h3>
    
    <FormulateInput
    label="Title"
    name="title"
    placeholder="Title"
    type="select"
    :options="[
        { value: 'Alh', label: 'Alhaji' },
        { value: 'Mr', label: 'Mr.' },
        { value: 'Mrs', label: 'Mrs.' },
        { value: 'Miss', label: 'Miss' },
        { value: 'Mal', label: 'Mallam' },
    ]"
    validation="required"
    />

    <FormulateInput
      name="First Name"
      type="text"
      label="First name"
      placeholder="First name"
      validation="required"
    />

    <FormulateInput
      name="Middle name"
      type="text"
      label="Middle name"
      placeholder="Middle name"
    />

    <FormulateInput
      name="surname"
      type="text"
      label="Last name"
      placeholder="Last name"
      validation="required"
    />

    <FormulateInput
    name="Gender"
    v-model="gender"
    :options="{male: 'Male', female: 'Female'}"
    type="radio"
    label="Gender"
    />

    <FormulateInput
      name="Address"
      type="text"
      label="Address"
      placeholder="Address"
      validation="required"
    />

    <FormulateInput
      name="phone no"
      type="text"
      label="Phone No"
      placeholder="Phone no"
      validation="^required|matches:/[0-9]/"
    />

    <FormulateInput
      name="email"
      type="email"
      label="Email address"
      placeholder="Email address"
      validation="required|email"
    />
    <div class="double-wide">
      <FormulateInput
        name="password"
        type="password"
        label="Password"
        placeholder="Your password"
        validation="required"
      />
      <FormulateInput
        name="password_confirm"
        type="password"
        label="Confirm your password"
        placeholder="Confirm password"
        validation="required|confirm"
        validation-name="Confirmation"
      />
    </div>
      <FormulateErrors />
    <FormulateInput
      type="submit"
      v-bind:label="submitText"
      v-bind:disabled="disabledBtn"
    />
    
  </FormulateForm>
  </div>
  
</template>

<script>
import appCommonService from './app.common.js'

export default {
    name:'FarmersBaseForm',
    props: {
      clientKey:'',
      serverUrl: ''
    },
  data: function() {
    return {
      gender: '',
      formData: {},
      formErrors: [],
      submitText: 'Submit',
      responseFarmerId: '',
      disabledBtn: false,
      showForm: true,
      showResponse: false
    }
  },
  methods: {
    handleSubmit (data) {     
      this.disabledBtn = true
      this.submitText = 'Submiting...'
      const farmerData = {
        sureName: data['surname'],
        firstName: data['First Name'],
        middleName: data['Middle name'],
        gender: data['Gender'],
        homeAddress: data['Address'],
        phoneNumber: data['phone no'],
        email: data['email'],
        password: data['password'],
        password_confirmation: data['password_confirm'],
        title: data['title'],
        client_key: this.clientKey
      }

      appCommonService.postData(this.serverUrl+'/api/clientfarmers', farmerData)
      .then(response => {
        console.log(response)
        this.responseFarmerId = response.farmer_id
        this.showForm = false
        this.showResponse = true
        this.disabledBtn = false
        this.submitText = 'Submit'
      })
      .catch(error => {
        console.log(error.response.data.errors)
        this.disabledBtn = false
        this.submitText = 'Submit'
        if (error.response && error.response.status) {
          switch (error.response.status) {
            case 422:
              this.mapErrors(error.response.data.errors)
          }
        }
      })
    },
    mapErrors(errors) {
      this.formErrors = []
      for(const [key, val] of Object.entries(errors)) {
          this.formErrors.push(val[0])
      }
    }
  }
}
</script>

<style>
 
.form-wrapper {
  padding: 2em;
  border: 1px solid #a8a8a8;
  border-radius: .5em;
  max-width: 500px;
  box-sizing: border-box;
  margin: 0 auto;
}
.form-title {
  margin-top: 0;
}
.form-wrapper::v-deep .formulate-input .formulate-input-element {
  max-width: none;
}

@media (min-width: 420px) {
  .double-wide {
    display: flex;
  }
  .double-wide .formulate-input {
    flex-grow: 1;
    width: calc(50% - .5em);
  }
  .double-wide .formulate-input:first-child {
    margin-right: .5em;
  }
  .double-wide .formulate-input:last-child {
    margin-left: .5em;
  }

  
}
</style>
