<template>
  <div>
    <div class="form-wrapper" v-show="showResponse">
        <h3>Company profile was created </h3>
    </div>
  <div>
    <FormulateForm
    v-show="showForm"
    class="form-wrapper"
    :form-errors ="formErrors"
    @submit="handleSubmit">
    
      <h3 
      class="form-title">Service provider sign up form</h3>
    
    
    
    <FormulateInput
      name="company name"
      type="text"
      label="Company Name"
      placeholder="Company name"
      validation="required"
    />

    <FormulateInput
      name="Address"
      type="textarea"
      label="Address"
      placeholder="Address"
      validation="required"
    />

    <FormulateInput
      name="phone no"
      type="text"
      label="Phone No"
      placeholder="Phone no"
      validation="^required|matches:/[0-9]/"
    />

    <FormulateInput
      name="email"
      type="email"
      label="Email address"
      placeholder="Email address"
      validation="required|email"
    />

    <FormulateInput
    v-model="operations"
    :options="{INPUT_PROVIDER: 'INPUT PROVIDERS', 
      'OFF_TAKER': 'OFFTAKER', 'EQUIPMENTS': 'EQUIPMENTS'}"
    type="checkbox"
    label="Company operation(s)"
    />
    <FormulateErrors />
    <FormulateInput
      type="submit"
      v-bind:label="submitText"
      v-bind:disabled="disabledBtn"
    />
    
  </FormulateForm>
  </div>
  </div>  
</template>

<script>
import appCommonService from './app.common.js'
const INPUT_PROVIDER = 'INPUT_PROVIDER', 
  OFFTAKER='OFF_TAKER', MECHANIZATION='MECHANIZATION_PROVIDER',
  EQUIPMENTS='EQUIPMENTS';
export default {
    name:'ServiceProviderBaseForm',
    props: {
      clientKey:'',
      serverUrl: ''
    },
  data: function() {
    return {
      
      formData: {},
      formErrors: [],
      submitText: 'Submit',
      operations: [],
      disabledBtn: false,
      showForm: true,
      showResponse: false
    }
  },
  methods: {
    handleSubmit (data) {     
      this.disabledBtn = true
      this.submitText = 'Submiting...'
      const farmerData = {
        name: data['company name'],
        address: data['Address'],
        phone: data['phone no'],
        email: data['email'],
        client_key: this.clientKey
      }

      for(const operation of this.operations ) {
        if(operation == INPUT_PROVIDER) {
          farmerData.input_provider = INPUT_PROVIDER;
        }

        if(operation == OFFTAKER) {
          farmerData.off_taker = OFFTAKER;
        }

        if(operation == MECHANIZATION) {
          farmerData.mechanization = MECHANIZATION;
        }

        if (operation == EQUIPMENTS) {
          farmerData.equipments = EQUIPMENTS;
        }
      }
      
      appCommonService.postData(this.serverUrl+'/api/clientserviceproviders', farmerData)
      .then(response => {
        console.log(response)
        this.responseFarmerId = response.farmer_id
        this.showForm = false
        this.showResponse = true
        this.disabledBtn = false
        this.submitText = 'Submit'
      })
      .catch(error => {
        console.log(error.response.data.errors)
        this.disabledBtn = false
        this.submitText = 'Submit'
        if (error.response && error.response.status) {
          switch (error.response.status) {
            case 422:
              this.mapErrors(error.response.data.errors)
          }
        }
      })
    },
    mapErrors(errors) {
      this.formErrors = []
      for(const [key, val] of Object.entries(errors)) {
          this.formErrors.push(val[0])
      }
    }
  }
}
</script>

<style>
 
.form-wrapper {
  padding: 2em;
  border: 1px solid #a8a8a8;
  border-radius: .5em;
  max-width: 500px;
  box-sizing: border-box;
  margin: 0 auto;
}
.form-title {
  margin-top: 0;
}
.form-wrapper::v-deep .formulate-input .formulate-input-element {
  max-width: none;
}

@media (min-width: 420px) {
  .double-wide {
    display: flex;
  }
  .double-wide .formulate-input {
    flex-grow: 1;
    width: calc(50% - .5em);
  }
  .double-wide .formulate-input:first-child {
    margin-right: .5em;
  }
  .double-wide .formulate-input:last-child {
    margin-left: .5em;
  }

  
}
</style>
